.scrapper {
    background: #f8f8eb;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
    position: relative;

    /**
     * Lines
     */
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 95%,
                                                   rgba(108,108,108,.1) 95%, rgba(108,108,108,.1) 100%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 95%,
                                                   rgba(108,108,108,.1) 95%, rgba(108,108,108,.1) 100%);
    background-image: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 95%,
                                                   rgba(108,108,108,.1) 95%, rgba(108,108,108,.1) 100%);
    background-position: 50% 18px;
    background-repeat: repeat;
    background-size: 24px 24px;
    
    padding: 20px 20px 20px 64px;
    font-size: 1.4em;
    line-height: 1.5em;
}
/**
 * Margin
 **/
.scrapper:after {
    content: '';
    position: absolute;
    border-left: 1px solid hsla(0,75%,50%,.2);
    border-right: 1px solid hsla(0,75%,50%,.2);
    width: 2px;
    top: 0;
    bottom: 0;
    left: 42px;
}
/**
 * skewed shadow
 */
.scrapper:before {
    content: '';
    position: absolute;
    right: 5px;
    width: 50%;
    height: 50%;
    bottom: 9px;
    z-index: -20; 
    box-shadow: 0 10px 10px rgba(0,0,0,.25);
    -webkit-transform: rotate(2.5deg);    
    -moz-transform: rotate(2.5deg);   
    -ms-transform: rotate(2.5deg);   
    -o-transform: rotate(2.5deg);
    transform: rotate(2.5deg);
}
.scrapper, .scrapper * {
    font-family: 'Just Another Hand', cursive !important;
}
